* {
    margin: 0;
    padding: 0;
    }
body{
    box-sizing: border-box;
}
#header{
    height: 8vh;
    background-color: black;
}
.left-flex{
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    min-height: 90vh;
    background-color: grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.right-flex{
    display: flex;
    justify-content: center;
    min-width: 70vw;
    min-height: 90vh;
    background-color: rgb(155, 153, 153);
    border: black;
    
    
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.search-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons-here{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    width: 10vw;
    min-height: 5vh;
    
    margin: 10px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
input{
    min-height: 5vh;
    margin: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.todays-weather{
    min-width: 60vw;
    min-height: 30vh;
    background-color: rgba(250, 250, 250, 0.5);
    margin-top: 3%;
    opacity: .7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.forecast{
    min-width: 60vw;
    min-height: 20vh;
    background-color: rgba(250, 250, 250, 0.5);
    margin-top: 3%;
    opacity: .7;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
h1{
    color: rgb(141, 140, 140);
    text-align: center;
    text-shadow: 2px 2px 5px rgb(39, 39, 39);
}
p{
    text-shadow: 2px 2px 5px rgb(39, 39, 39);
}
h4{
    text-shadow: 2px 2px 5px rgb(39, 39, 39);
}
h2{
    text-shadow: 2px 2px 5px rgb(39, 39, 39);
}



